---
layout: default
---

{% assign rules = site.rules | where:"name", page.title %}
{% assign rule = rules.first %}

{% include rule_link.html rule=rule %}

{{ content }}

<h4>
  <a href="{{ site.baseurl }}/rules/" target="_blank">◆利用规约一览◆</a>
</h4>

<img src="{{ site.baseurl }}/images/excerpt.png">
<p>
  喜欢这种形式的规约吗？为什么不试着将它们用到你自己的原创素材中呢？<br>
  本规约文字地址：
</p>
<blockquote>
  <a href="{{ rule.url }}" target="_blank">{{ page.title }}</a><br>
  <a href="{{ rule.url }}" target="_blank">{{ rule.url }}</a>
</blockquote>

{% if rule.img %}

本规约图片代码：<br>
HTML
{% highlight html %}
  <a href="{{ rule.url }}" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/{{ rule.img }}"></a>
{% endhighlight %}

{% endif %}
