---
title: 利用规约一览
layout: default
---

{% for type in site.rule_types %}
  {% assign rules = site.rules | where:"type", type[0] %}
  <h3>{{ type[1] }}</h3>
  <ul>
    {% for rule in rules %}
      {% if rule.local %}
        <li><a href="{{ site.baseurl }}/rules/{{ rule.name }}.html">{{ rule.name }}</a></li>
      {% else %}
        <li><a href="{{ rule.url }}">{{ rule.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<p>
  <img src="{{ site.baseurl }}/images/excerpt.png">
</p>